<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="content">
        <form action="/save" method="post" enctype="multipart/form-data">
            <input type="text" name="maSanPham" id="maSanPham" placeholder="Ma SP"><br>
            <input type="text" name="tenSanPham" id="tenSanPham" placeholder="Ten SP"><br>
            <input type="text" name="soLuong" id="soLuong" placeholder="Nhap so luong"><br>
            <input type="file" name="image" id="image" accept="image/*"><br>
            <input type="submit" value="Thêm">
        </form>
        <form action="/delete" method="post" enctype="multipart/form-data">
            <table>
                <caption>Danh sách các môn học</caption>
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên</th>
                        <th>So luong</th>
                        <th>Hinh anh</th>
                    </tr>
                </thead>
    
                <tbody>
                    <%for(let i = 0; i< data.length; i++) {%>
                    <tr>
                        <td><%= data[i].maSanPham %></td>
                        <td><%= data[i].tenSanPham %></td>
                        <td><%= data[i].soLuong %></td>
                        <td><img src="<%= data[i].image %>" alt="avt_<%= data[i].maSanPham %>" width="48" height="48" /></td>
                        <td>
                            <input type="checkbox" name="<%= data[i].maSanPham %>" id="<%= data[i].maSanPham %>" />
                        </td>
                    </tr>
                    <% }; %>
                </tbody>
            </table>
            <input type="submit" value="Xóa">
        </form>
        
    </div>
</body>
</html>